<div class="ui-g" *ngIf="!hideButtons">
    <div class="ui-g-12">
        <div *ngIf="importMode">
            <app-rule-table-import-wizard [module]="selectedModule"></app-rule-table-import-wizard>
        </div>
        <div class="card" *ngIf="!importMode">
            <h1>Rule tables</h1>     
            <div *ngIf="!modules || !modules.length">
                Please create a module first.
            </div>
            <div *ngIf="modules && modules.length" class="ui-g" >
                <div class="ui-g-2">
                    <p-dropdown [options]="modules"  [(ngModel)]="selectedModule" (onChange)="prepareDropDowns()"></p-dropdown>
                </div>
                <div class="ui-g-2">
                    <p-dropdown [options]="tables" *ngIf="selectedModule" [(ngModel)]="selectedTable" (onChange)="prepareDropDowns()"></p-dropdown>
                </div>
                <div class="ui-g-2">
                      <button pButton type="button" class='green-btn' (click)="createTable()" label="Create" ></button>
                </div> 
                <div class="ui-g-2">
                      <button pButton type="button" class='blue-btn' (click)="showImport()" label="Import" ></button>
                </div> 
                <div class="ui-g-2">
                    {{test}}
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" class='red-btn' (click)="deleteTable(selectedTable)" label="Delete" *ngIf="selectedTable"></button>
                </div>              
                
            </div> 
        </div>
        
    </div>
    <div *ngIf="!importMode && selectedTable" class="ui-g-12">           
        <app-show-rule-table [table]="selectedTable"></app-show-rule-table>                     
    </div>
    <div class="ui-g-12">
    <div class="card">
        <p-panel header="Quick Help" [toggleable]="true" [collapsed]="true">
            Tables are perfect to store rules about your game. Create a new table and select it from the dropdown.
            <br/><br/>
            You can renam your table by clicking on the table name.<br/>
            When you add columns you have to specify the name and the type. Later on you can change the column name if you click on it.<br/>
            Use the drag and drop functionality to change the order of the columns and rows.
        </p-panel>
    </div>
</div>
</div>
