<div class="projects-tab">
  <ul>     
    <li class="clearfix" *ngIf="isRealmSelected" (click)="openWelcome()" style="cursor: pointer">
          <i class="material-icons">description</i>
          <span class="project-title" style="float: none;">Welcome Page</span>
          <span  style="float: none;">Created by the game master</span>       
    </li> 
    <li class="clearfix" (click)="openMyRealms()" style="cursor: pointer">
        <i class="material-icons">favorite</i>
        <span class="project-title"  style="float: none;">View Realms</span>                
    </li>
    <li class="clearfix" *ngIf="isRealmSelected" (click)="disconnect()" style="cursor: pointer">
          <i class="material-icons">cancel</i>
          <span class="project-title"  style="float: none;">Leave Realm</span> 
          <span  style="float: none;"></span>          
    </li>      
  </ul>
</div>
