<div class="projects-tab">
  <ul>     
    <li class="clearfix" *ngIf="isRealmSelected" (click)="openWelcome()">
          <i class="material-icons">description</i>
          <span class="project-title">Welcome Page</span>
          <span>Created by the game master</span>         
    </li> 
    <li class="clearfix" (click)="openMyRealms()">
        <i class="material-icons">favorite</i>
        <span class="project-title">View Realms</span>                
    </li>
    <li class="clearfix" *ngIf="isRealmSelected" (click)="disconnect()">
        <i class="material-icons">cancel</i>
        <span class="project-title">Leave Realm</span> 
        <span></span>             
    </li>      
  </ul>
</div>
