<p-tabView>
    
    <p-tabPanel header="HTML">
        <div class="ui-g">
            <div class="ui-g-2">
                <button pButton type="button" class='green-btn' (click)="saveSheet()" label="Save"></button>
            </div>
            <div class="ui-g-2">
                <p-dropdown [options]="modelMappings" [(ngModel)]="selectedMapping" [autoWidth]="false"></p-dropdown>
            </div>
            <div class="ui-g-2">
                <button pButton type="button" class="green-btn" (click)="insertMapping()" label="Insert" [disabled]="!selectedMapping" ></button>
            </div>    
        </div>
        <ace-editor [(text)]="sheet.html" [mode]="'html'" (textChanged)="editorChanged($event)" #editorhtml style="height:400px;"></ace-editor>
    </p-tabPanel>
    <p-tabPanel header="CSS">
        <ace-editor [(text)]="sheet.css" [mode]="'css'" (textChanged)="editorChanged($event)" #editorcss style="height:400px;"></ace-editor>
    </p-tabPanel>
    <p-tabPanel header="Preview" [rightIcon]="buildResultIcon">
        <div class="ui-g">
            <div class="ui-g-12">
                <div *ngIf="!entities || !entities.length">
                    Please create an entity for this definition first.
                </div>
                <div *ngIf="entities && entities.length" class="ui-g">
                    <div class="ui-g-2">
                        <p-dropdown [options]="entities"  [(ngModel)]="selectedEntity" (onChange)="entityChanged()"></p-dropdown>
                    </div>                                 
                </div>
            </div>
            shet visible: {{sheetVisible}}
            <div class="ui-g-12" *ngIf="sheetVisible">                
                <app-sheet-viewer [model]="model" [html]="htmlTextToProcess" [css]="cssTextToProcess" (entityChangedEvent)="onModelUpdated($event)" (onBuildCompleted)="onBuildCompleted($event)"></app-sheet-viewer>
            </div>            
        </div>
    </p-tabPanel>
</p-tabView>
