<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Entities</h1>     
            <div *ngIf="!modules || !modules.length">
                Please create a module first.
            </div>
            <div *ngIf="modules && modules.length" class="ui-g">
                <div class="ui-g-2">
                    <p-dropdown [options]="modules"  [(ngModel)]="selectedModule" (onChange)="moduleChanged()"></p-dropdown>
                </div>
                <div class="ui-g-2">
                        <button pButton type="button" class='green-btn' (click)="showEdit()" label="Create entity" ></button>
                </div>                   
            </div>
            <p-dataGrid [value]="entities">
                <ng-template let-entity pTemplate="item">
                    <div class="ui-g-12 ui-md-3">
                        
                        <p-panel>
                            <p-header>
                                <div class="ui-helper-clearfix">
                                    <p-inplace closable="closable">
                                        <span pInplaceDisplay closable="closable">
                                            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">{{entity.name}}</span>                                            
                                        </span>
                                        <span pInplaceContent>
                                            <input type="text" [(ngModel)]="entity.name" (change)="updateEntityName(entity)" pInputText>                                            
                                        </span>
                                    </p-inplace>
                                </div>
                            </p-header>
                            <i class="fa fa-search" [routerLink]="['/game/entity', entity.id]" style="cursor:pointer"></i>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataGrid>
        </div>
    </div>
</div>