<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Entities</h1>     
            <div *ngIf="!modules || !modules.length">
                Please create a module first.
            </div>
            <div *ngIf="modules && modules.length" class="ui-g">
                <div class="ui-g-2">
                    <p-dropdown [options]="modules"  [(ngModel)]="selectedModule" (onChange)="moduleChanged()"></p-dropdown>
                </div>                                 
            </div>
            <p-dataGrid [value]="entities">
                <ng-template let-entity pTemplate="item">
                    <div class="ui-g-12 ui-md-3">
                        
                        <p-panel>
                            <p-header>
                                <div class="ui-helper-clearfix">
                                    <p-inplace closable="closable">
                                        <span pInplaceDisplay closable="closable">
                                            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">{{entity.name}}</span>                                            
                                        </span>
                                        <span pInplaceContent>
                                            <input type="text" [(ngModel)]="entity.name" (change)="updateEntityName(entity)" pInputText>                                            
                                        </span>
                                    </p-inplace>
                                </div>
                            </p-header>
                                    Sheet: {{entity.sheetId ? sheetNames[entity.sheetId] : 'No sheet selected' }}   
                                    <button type="button" pButton (click)="showSheetSelectorPopup(entity)" label="Change"></button>                                         
                            <p-footer>
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        <button pButton type="button" class='blue-btn' [routerLink]="['/game/entity', entity.id]" icon="ui-icon-dehaze" ></button>
                                    </div>
                                    <div class="ui-g-4">
                                            
                                    </div>
                                    <div class="ui-g-4">
                                        <button pButton type="button" class='red-btn' (click)="deleteEntity(entity)" icon="ui-icon-delete-forever" ></button>
                                    </div>
                                </div>
                            </p-footer>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataGrid>
        </div>
    </div>
    <p-dialog header="Select sheet" [(visible)]="displaySheetPicker">
        <p-dropdown [options]="availableSheets"  [(ngModel)]="selectedSheetId" *ngIf="displaySheetPicker"></p-dropdown>
        <br/><br/>
        test        
        <p-footer>
            <button type="button" pButton icon="fa-check" (click)="saveSheetChange()" label="Save"></button>
            <button type="button" pButton icon="fa-close" (click)="displaySheetPicker=false" label="Cancel"></button>
        </p-footer>
    </p-dialog>
</div>