<div class="ui-g">
    <div class="ui-g-6">
        <button pButton type="button" (click)="changeOption('table')" icon="ui-icon-accessibility" [disabled]="optionChoice === 'table'" label="Table"></button>
    </div>
    <div class="ui-g-6">
        <button pButton type="button" (click)="changeOption('collection')" icon="ui-icon-accessibility" [disabled]="optionChoice === 'collection'" label="Custom"></button>
    </div>
  
    <div class="card" *ngIf="optionChoice === 'table'">
    The list of options are being loaded from a table.
    <div class="ui-g form-group">          
        <div class="ui-g-12">
        <p-dropdown [options]="modules" [(ngModel)]="selectedModule" (onChange)="onModuleSelect(true)" [autoWidth]="false"></p-dropdown>
        </div>
        <div class="ui-g-12">
        <p-dropdown [options]="tables" [(ngModel)]="selectedTable" (onChange)="onTableSelect(true)"[autoWidth]="false" [disabled]="!selectedModule"></p-dropdown>
        </div>
        <div class="ui-g-12">
        <p-dropdown [options]="columns" [(ngModel)]="selectedColumn" (onChange)="onColumnSelect()" [autoWidth]="false" [disabled]="!selectedTable || columns.length === 1"></p-dropdown>
        </div>  
    </div> 
    <br/><br/>
    </div>
    <div class="card" *ngIf="optionChoice === 'collection'">
    Provide your choice options.
    <div class="ui-g form-group" > 
        <div class="ui-g-12">
            <span class="md-inputfield">
                <input type="text" pInputText [(ngModel)]="addedItemName" >
            </span>
        </div>
        <div class="ui-g-12">
            <button pButton type="button" class='green-btn' label="Add" (click)="addItemToCollection()" [disabled]="!addedItemName || listItems.indexOf(addedItemName) !== -1"></button>
        </div>                          
        <div class="ui-g-12"> 
            <p-orderList [(value)]="listItems" dragdrop="true">
                <ng-template let-listItem pTemplate="item">
                    <span class="md-inputfield">
                        <input type="text" pInputText [(ngModel)]="listItem.text" (change)="update()">                        
                    </span>
                </ng-template>
            </p-orderList>             
        </div>            
    </div>
    </div>
</div>

