<div class="ui-g-12">
  <p-tree [value]="tree[0].children" *ngIf="tree && tree[0].children">
    <ng-template let-node pTemplate="default">
        <div class="ui-g form-group"> 
            <div class="ui-g-12">
                <span *ngIf="node.data.dataType && node.data.dataType ==='Definition'">
                    {{node.label}}
                </span>                
                <span class="md-inputfield" *ngIf="node.data.dataType && (node.data.dataType ==='text' || node.data.dataType ==='number')">
                    <input  [(ngModel)]="node.data.temp" (change)="updateEntity()" [type]="node.data.dataType" width="100px">
                    <label>{{node.label}}</label>
                </span>
                <p-checkbox [(ngModel)]="node.data.temp" (onChange)="updateEntity()" binary="true" *ngIf="node.data.dataType && node.data.dataType ==='bool'" label="{{node.label}}"></p-checkbox>
                <span style="padding-left: 10px">
                    <a (click)="addChild(node)" *ngIf="node.data.isList" style="font-size: x-small; color: green;">Add child</a>
                    <a (click)="remove(node)" *ngIf="node.parent && node.parent.data.isList" style="font-size: x-small; color: red;">Remove</a>
                </span>
            </div>
        </div>  
    </ng-template>
  </p-tree>  
</div>