<div class="card ui-g">
  <div class="ui-g-12">
    <p-steps [model]="stepsMenu" [activeIndex]="currentStep"></p-steps>
    <input id="csvinput" type="file" style="visibility:hidden" /> 
  </div>   
  <div *ngIf="currentStep === 0" class="ui-g-12 form-group">
    <div class="ui-g-2">
      <button pButton type="button" class='green-btn' (click)="importCsv()" label="Load file"  icon="ui-icon-file-upload"></button>
    </div>    
  </div>        
  <div *ngIf="currentStep === 1" class="ui-g-12 form-group">
    <div class="ui-g-12">
      Please set the column types and use the import button to create your table.
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">
        <button pButton type="button" class='green-btn' (click)="gotoImport()" label="Import" icon="ui-icon-computer" ></button>
      </div>        
    </div>
    <div class="ui-g-12" *ngFor="let column of columns">
      <div class="ui-g-4">
        {{column.name}}
      </div>
      <div class="ui-g-4">
        <p-selectButton [options]="columnTypes" [(ngModel)]="column.type"></p-selectButton>
      </div>
    </div>
  </div>
  <div *ngIf="currentStep === 2" class="ui-g-12 form-group">
    <div class="ui-g-12" >
      <div class="ui-g-4">
        <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="tableName">
            <label>Rule table name</label>
        </span>
      </div>
      <div class="ui-g-2">
        <button pButton type="button" class='green-btn' (click)="uploadCsv()" label="Upload" [disabled]="!tableName || uploading" icon="ui-icon-computer"></button>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-6">
        <p-progressBar [value]="progressMeter"></p-progressBar>
      </div>
      <div class="ui-g-6">
        {{progressMessage}}
      </div>  
    </div>  
    <div *ngIf="currentStep === 3" class="ui-g-12 form-group">
      <div class="ui-g-12" >
      <span>Your csv file has been succesfully imported. Please, go back to the rule table list.</span>
      </div>
  </div>
</div>          
