<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Sheets</h1>     
            <div *ngIf="!modules || !modules.length">
                Please create a module first.
            </div>
            <div *ngIf="modules && modules.length" class="ui-g">
                <div class="ui-g-2">
                    <p-dropdown [options]="modules"  [(ngModel)]="selectedModule" (onChange)="moduleChanged()"></p-dropdown>
                </div>                                 
            </div>
            <p-dataGrid [value]="sheets">
                <ng-template let-sheet pTemplate="item">
                    <div class="ui-g-12 ui-md-3">
                        
                        <p-panel>
                            <p-header>
                                <div class="ui-helper-clearfix">
                                        <span class="ui-panel-title" style="cursor: pointer; font-size:16px;display:inline-block;margin-top:2px">{{sheet.name}}</span>
                                    <i class="material-icons" (click)="editName(sheet)" style="float: right; cursor: pointer;">edit</i>
                                </div>
                            </p-header>
                            
                            <p-footer>
                                <div class="ui-g">
                                    <div class="ui-g-2">
                                    </div>
                                    <div class="ui-g-8">
                                        <button pButton type="button" class='red-btn' label="Delete" (click)="deleteSheet(sheet)" icon="ui-icon-delete-forever" ></button>
                                    </div>
                                    <div class="ui-g-2">
                                        
                                    </div>
                                </div>
                            </p-footer>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataGrid>
        </div>
    </div>
    <p-dialog header="Edit Name" [visible]="editNameSheet" modal="modal" width="300" [responsive]="true" [closable]="false">
        <input type="text" pInputText [(ngModel)]="editNameSheet.name" *ngIf="editNameSheet">
        <p-footer>
            <button type="button" pButton icon="ui-icon-check" (click)="closeNameEditor(true)" label="Update"></button>
            <button type="button" pButton icon="ui-icon-close" (click)="closeNameEditor(false)" label="Cancel"></button>
        </p-footer>
    </p-dialog>
    <div class="ui-g-12">
        <div class="card">
            <p-panel header="Quick Help" [toggleable]="true" [collapsed]="true">
                Sheets are the way to create custom character sheets. Sheets can be assigned to entities on the <b>Entity</b><br>

                To create a new sheet you must go to the definition page and select your definition. Choose the <b>Create Sheet</b> from the dropdown menu<br/><br/>
                The pencil let's you change the name.<br/>
            </p-panel>
        </div>
    </div>
</div>