<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Modules</h1>
            <p-dataTable [value]="modules" selectionMode="single" [(selection)]="selectedModule" 
                [paginator]="false" [rows]="100" [responsive]="true">
                <p-column field="name" header="Module Name" [sortable]="true"></p-column> 
            </p-dataTable>
            <div class="ui-g">
                <div class="ui-g-3">
                    <button pButton type="button" class='green-btn' (click)="showCreate()" label="Create" ></button>
                </div>
                <div class="ui-g-6">
                </div>
                <div class="ui-g-3">
                    <button pButton type="button" class='red-btn' [disabled]="!selectedModule" (click)="deleteSelectedModule()" label="Delete" ></button>
                </div>
            </div>            
        </div>
    </div>

    <p-dialog header="Create" [(visible)]="createVisible">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g form-group">
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text" pInputText [(ngModel)]="moduleName">
                            <label>Module name</label>
                        </span>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-3">
                            <button pButton type="button" class='green-btn' [disabled]="!moduleName" (click)='create()' label="Create" ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>

    <div class="ui-g-12">
            <div class="card">
                <p-panel header="Quick Help" [toggleable]="true" [collapsed]="true">
                    Modules are the way we group things. Every game needs at least one module because you need to store your assets somewhere.
                    Please, create a module first.<br/><br/>
                    Modules can depend on eachother. You can import a module created by someone else and you can use everything inside. You can also create your own module depending on the imported one. This way you can add home rules, new characters, etc.
                </p-panel>
            </div>
        </div>
</div>