<div class="layout-sidebar" [ngStyle]="{'overflow':app.sidebarActive ? 'hidden' : 'visible'}"
                            [ngClass]="{'layout-sidebar-dark':app.darkMenu}" (click)="app.onSidebarClick($event)">
    <div class="layout-tabmenu">
        <ul class="layout-tabmenu-nav">
            <li [ngClass]="{'active-item':app.activeTabIndex === 0}">
                <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 0)"><i class="material-icons">home</i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Home</div>
                </div>
            </li>
            <li [ngClass]="{'active-item':app.activeTabIndex === 1}" *ngIf="isCurrentUserRealmOwner">
                <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 1)"><i class="material-icons">view_module</i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Modules</div>
                </div>
            </li>
            <li [ngClass]="{'active-item':app.activeTabIndex === 2}" *ngIf="isCurrentUserRealmOwner">
                <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 2)"><i class="material-icons">layers</i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Definitions</div>
                </div>
            </li>
            <li [ngClass]="{'active-item':app.activeTabIndex === 3}" *ngIf="isCurrentUserRealmOwner">
                <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 3)"><i class="material-icons">crop_paste</i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Templates</div>
                </div>
            </li>
            <li [ngClass]="{'active-item':app.activeTabIndex === 4}" *ngIf="isRealmSelected">
                <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 4)"><i class="material-icons">person_pin</i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Entities</div>
                </div>
            </li>
            <li [ngClass]="{'active-item':app.activeTabIndex === 9}" *ngIf="isRealmSelected">
                <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 9)"><i class="material-icons">library_books</i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Sheet</div>
                </div>
            </li>
            <li [ngClass]="{'active-item':app.activeTabIndex === 5}" *ngIf="isRealmSelected">
                <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 5)"><i class="material-icons">content_copy</i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Tables</div>
                </div>
            </li>
            <li [ngClass]="{'active-item':app.activeTabIndex === 6}" *ngIf="isCurrentUserRealmOwner">
                <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 6)"><i class="material-icons">image</i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Images</div>
                </div>
            </li>
            <li [ngClass]="{'active-item':app.activeTabIndex === 7}" *ngIf="isCurrentUserRealmOwner">
                <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 7)"><i class="material-icons">map</i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Maps</div>
                </div>
            </li>
            <li [ngClass]="{'active-item':app.activeTabIndex === 8}" *ngIf="isRealmSelected">
                <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 8)"><i class="material-icons">tab</i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Board</div>
                </div>
            </li>
           
        </ul>
        <div class="layout-tabmenu-contents">
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 0}">
                <div class="layout-submenu-title clearfix">
                    <span>Home</span>
                    <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
                </div>
                <app-sidebarTabContent>
                    <app-home-side-bar></app-home-side-bar>
                </app-sidebarTabContent>
            </div>
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 1}">
                <div class="layout-submenu-title clearfix">
                    <span>Modules</span>
                    <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
                </div>
                <app-sidebarTabContent>
                     <app-module-side-bar></app-module-side-bar>
                </app-sidebarTabContent>
            </div>
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 2}">
                <div class="layout-submenu-title clearfix">
                    <span>Definitions</span>
                    <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
                </div>
                <app-sidebarTabContent>
                   <app-definition-side-bar></app-definition-side-bar>
                </app-sidebarTabContent>
            </div>
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 3}">
                <div class="layout-submenu-title clearfix">
                    <span>Templates</span>
                    <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
                </div>
                <app-sidebarTabContent>
                   <app-template-side-bar></app-template-side-bar>
                </app-sidebarTabContent>
            </div>
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 4}">
                <div class="layout-submenu-title clearfix">
                    <span>Entities</span>
                    <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
                </div>
                <app-sidebarTabContent>
                   <app-entity-side-bar></app-entity-side-bar>
                </app-sidebarTabContent>
            </div>
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 5}">
                <div class="layout-submenu-title clearfix">
                    <span>Tables</span>
                    <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
                </div>
                <app-sidebarTabContent>
                   <app-rule-side-bar></app-rule-side-bar>
                </app-sidebarTabContent>
            </div>
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 6}">
                <div class="layout-submenu-title clearfix">
                    <span>Images</span>
                    <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
                </div>
                <app-sidebarTabContent>
                   <app-image-side-bar></app-image-side-bar>
                </app-sidebarTabContent>
            </div>
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 7}">
                <div class="layout-submenu-title clearfix">
                    <span>Maps</span>
                    <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
                </div>
                <app-sidebarTabContent>
                   <app-map-side-bar></app-map-side-bar>
                </app-sidebarTabContent>
            </div>
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 8}">
                <div class="layout-submenu-title clearfix">
                    <span>Board</span>
                    <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
                </div>
                <app-sidebarTabContent>
                   <app-board-side-bar></app-board-side-bar>
                </app-sidebarTabContent>
            </div>     
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 9}">
                    <div class="layout-submenu-title clearfix">
                        <span>Sheets</span>
                        <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
                    </div>
                    <app-sidebarTabContent>
                       <app-sheet-side-bar></app-sheet-side-bar>
                    </app-sidebarTabContent>
                </div>            
        </div>
    </div>
</div>