
<div *ngIf="sheet.type === 'grid' || sheet.type === 'root'"  [style.background-color]="hovered ? 'lightgray' : ''" >
    <legend *ngIf="sheet.content">[{{sheet.content ? sheet.content : '[PROPERTY]'}}]</legend>
  <app-sheet-grid-element *ngFor="let sheetElement of sheet.innerElements; let i = index"  [sheet]="sheetElement"
        [class]="sheetElement.type === 'grid' ? 'sheet-grid pure-u-' + sheetElement.numerator + (sheetElement.denominator ? '-' + sheetElement.denominator : '' ) : 'pure-u-1'" 
         (onClick)="childClick($event)">
  </app-sheet-grid-element>
  <div class="pure-u-1" style="text-align: center;" >
    <span (click)="sheetElementClick($event)" (mouseenter)="hover(true)"  (mouseleave)="hover(false)" style="cursor: pointer">Edit grid</span>  
  </div>
</div> 

<div *ngIf="sheet.type === 'text'" (click)="sheetElementClick($event)">
  <div class="pure-u-1" style="text-align: center">
    <span (click)="sheetElementClick($event)" style="text-align: center;letter-spacing: 0;cursor: pointer;" (mouseenter)="hover(true)"  (mouseleave)="hover(false)">{{sheet.content ? sheet.content : '[TEXT]'}}</span>
  </div>
</div>
<div *ngIf="sheet.type === 'button'" (click)="sheetElementClick($event)">
  <div class="pure-u-1">
    <button  (click)="sheetElementClick($event)" class="pure-button" (mouseenter)="hover(true)"  (mouseleave)="hover(false)">{{sheet.content ? sheet.content : '[BUTTON]'}}</button>
  </div>
</div>

<div *ngIf="sheet.type === 'property'" (click)="sheetElementClick($event)">
  <div class="pure-u-1" style="text-align: center">
    <div class="sheet-property" (click)="sheetElementClick($event)"  >
      <span *ngIf="!sheet.definitionOccurenceGuid"  >
        {{sheet.content ? sheet.content : 'PROPERTY'}}
      </span>
      <div *ngIf="sheet.definitionOccurenceGuid && !sheet.isList" >
        <div *ngIf="sheet.propertyType === 'text' || sheet.propertyType === 'number'">
          <input type="text" placeholder="{{sheet.content}}" readonly="readonly" style="width: 100%">
        </div>
        <div *ngIf="sheet.propertyType === 'bool'">
          <label for="{{'bool-' + sheet.id}}">
            <input id="{{'bool-' + sheet.id}}" type="checkbox"> {{sheet.content}}
          </label>
        </div>
        <div *ngIf="sheet.propertyType === 'choice'">
            <label for="{{'choice-' + sheet.id}}">
                <select id="{{'choice-' + sheet.id}}" class="pure-input-1-2" readonly="readonly" style="width: 100%">
                    <option>{{sheet.content}}</option>
                </select>
            </label>
          </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="sheet.type === 'repeater'" (click)="sheetElementClick($event)">
  <div class="pure-u-1" style="text-align: center">
    <div class="sheet-property" (click)="sheetElementClick($event)"  >
      <span *ngIf="!sheet.definitionOccurenceGuid"  >
        {{sheet.content ? sheet.content : 'REPEATER'}}
      </span>     
      <div *ngIf="sheet.definitionOccurenceGuid && sheet.isList">
          <legend (click)="sheetElementClick($event)" style="text-align: center;letter-spacing: 0;cursor: pointer;" (mouseenter)="hover(true)"  (mouseleave)="hover(false)">[{{sheet.content ? sheet.content : '[PROPERTY]'}}]</legend>
          <app-sheet-grid-element *ngFor="let sheetElement of sheet.innerElements; let i = index"  [sheet]="sheetElement"
          [class]="sheetElement.type === 'grid' ? 'sheet-grid pure-u-' + sheetElement.numerator + (sheetElement.denominator ? '-' + sheetElement.denominator : '' ) : 'pure-u-1'" 
          (onClick)="childClick($event)"> 
          </app-sheet-grid-element>    
        <div class="pure-u-1" style="text-align: center;" >
          <span (click)="sheetElementClick($event)" (mouseenter)="hover(true)"  (mouseleave)="hover(false)" style="cursor: pointer">Edit list element</span>  
        </div>
      </div>
    </div>
  </div>
</div>
